body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
}

.calculator-container {
  width: 600px;
  padding: 20px 0;
  display: grid;
  height: 95vh;
  background-color: lightblue;
  border: 2px solid black;
  justify-content: center;
  border-radius: 10px;
  grid-template-columns: repeat(4, 20%);
  grid-gap: 15px;
  grid-template-areas: 
  'display display display display';

   .display-field {
    grid-area: display;
    justify-content: right;
    padding: 0 20px;
    font-size: 78px;
    height: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
   }

   .zero {
    grid-column-start: 1;
    grid-column-end: 3;
   }

   .clear-all, .change-sign, .percent {
    background-color: rgb(219, 132, 100);
  }

  .multiply, .minus, .add, .equal, .divide {
    background-color: bisque;
  }
   
  
  
}

.calculator-container * {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 32px;
  font-weight: 600;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border: 3px solid black;
}

